/* contact */

/* the value of the margin-left property should match the value of the sidebar's width property */
.section {
    font-size: large;
    margin-left: 20%;
    min-height: 100vh;
    position: relative;
    font-size: large;
    color: var(--clr-white);
}

.h1 {
    padding-top: 30px;
    text-align: center;
}

.div {
    height: 5px;
    width: 80px;
    margin-top: 10px;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.5px;
}

.container {
    margin: 40px 80px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
    border: var(--b-off);
}

.box {
    width: 33.33%;
    color: var(--clr-white);
    background-color: var(--clr-black);
    text-align: center;
    line-height: 40px;
}

.box2,
.box3 {
    margin-bottom: -10px 0;
    border-left: 2px solid var(--clr-white);
}

.email,
.location,
.phoneNr {
    margin-bottom: -20px;
}

.box1 p,
.box2 p,
.box3 p {
    margin-top: 5px;
    margin-bottom: 15px;
}

.form,
.label,
.input,
.textarea {
    display: block;
    width: 100%;
    line-height: 30px;
    font-size: var(--fs-18);
}

.textInput {
    margin-top: 10px;
    border: var(--b-off);
}

.input,
.textarea {
    font-size: var(--fs-18);
    padding-left: 10px;
}

.button {
    margin: 20px 0;
    display: block;
    width: 100%;
    line-height: 10px;
    font-size: var(--fs-18);
    color: var(--clr-white);
    background-color: var(--clr-black);
}

.send {
    margin-top: 2px;
    padding-bottom: 5px;
    display: inline-flex;
    vertical-align: middle;
}

.googleMap {
    margin-top: 20px;
    display: block;
    width: 100%;
    border: var(--b-off);
}

.googleMap .map {
    width: 100%;
}

/* on screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .section {
        margin-left: 0;
    }
}