/* home */

/* the value of the margin-left property should match the value of the sidebar's width property */
.home {
    margin-left: 20%;
    padding: 50px;
    min-height: 100vh;
    border: var(--b-off);
    position: relative;
    /* font-size: large; */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.office-img {
    width: 54vw;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
}

.description {
    position: absolute;
    top: 75%;
    left: 69%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: var(--clr-black);
}

.h5-home {
    padding-left: 40px;
}

.h2-home {
    padding-left: 20px;
}

.h3-home {
    color: var(--clr-primary-4);
}

.h4-home {
    padding-left: 30px;
}

.button {
    position: absolute;
    top: 90%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 40px;
    width: 195px;
    /* font-weight: bold; */
    cursor: pointer;
    font-size: var(--fs-16);
    background-color: var(--clr-black);
    color: var(--clr-white);
    border-radius: 20px;
}

.button:hover {
    background-color: var(--clr-white);
    color: var(--clr-black);
}

.fadownload {
    margin-right: 5px;
}

/* on screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .home {
        margin-left: 0;
    }
}