/* services */

/* the value of the margin-left property should match the value of the sidebar's width property */
.services {
    position: absolute;
    left: 60%;
    top: 650px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: large;
    color: var(--clr-white);
}

.h1-services,
.list,
.h3-services,
.list-skills {
    text-align: center;
    list-style-position: inside;
    width: 900px;
    border: var(--b-on);
}

.underline {
    height: 5px;
    width: 80px;
    margin-top: 10px;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.5px;
}

.list,
.list-skills {
    margin-top: 30px;
    line-height: 1.4;
}

.h1-services,
.h3-skills {
    margin-top: 50px;
}

.h3-services {
    margin-top: 50px;
}

.logo-group {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 45px;
    grid-column-gap: 45px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.software-logo {
    border: var(--b-on);
    background-color: var(--clr-white);
    border: 0.2rem solid var(--clr-black);
    border-radius: 0.8rem;
    -webkit-box-shadow: 0 0 0.5rem 0.2rem var;
    -moz-box-shadow: 0 0 0.5rem 0.2rem var(--clr-black);
    box-shadow: 0 0 0.5rem 0.2rem var(--clr-black);
    position: relative;
    /* grid-row: 1 / 2;
    grid-column: 2 / 3; */
}

.software-logo .web-technology-img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
    padding-top: 30px;
}

.web-technology {
    display: block;
    text-align: center;
    font-weight: bold;
    color: var(--clr-black);
    margin-top: 35px;
}

/* on screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .services {
        margin-left: 0;
    }
}